body {
    padding: 0px;
    margin: 0px;
}

table {
    border-collapse: collapse;
}

.sticky-table {
    overflow: auto;
    height: 100%; /* 设置固定高度 */
    width: 100%;
    position: absolute
}

.sticky-table td, .sticky-table th {
    /* 设置td,th宽度高度 */
    border: 1px solid #c7d8ee;
    width: 150px;
    min-width: 150px;
    height: 30px;
    padding: 5px;
}

.sticky-table th {
    position: sticky;
    top: 0; /* 首行永远固定在头部  */
    background-color: #eaf4ff; /*设置表头背景色*/
}

.sticky-table td:first-child, .sticky-table th:first-child {
    position: sticky;
    left: 0; /* 首列永远固定在左侧 */
    z-index: 1;
    background-color: #eaf4ff;
}

.sticky-table th:first-child {
    z-index: 2; /*表头的首列要在上面*/
}

.sticky-table th > div {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

/*.sticky-table table {
    table-layout: fixed;
}*/